<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Clients</h1>
  <div class="mt-4">
    <td><%= link_to "New client", new_client_path, class: "btn btn-primary" %></td>
  </div>
  <hr>
  <div id="clients">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Movie</th>
          <th scope="col" colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="mt-4">
        <%= paginate @clients %> 
  </div>
</div>
